<!-- index.html -->
<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="en">
<head>
  <!-- META -->
  <meta charset="utf-8">

  <title>KITT</title>

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/public/img/favicon.png">

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/index.css">

  <!-- SPELLS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body>
  <div class="container" style="width: 700px; padding-top: 140px">
    <div class="row col-lg-12">
      <div class="jumbotron">
        <h2>
          That's it!
        </h2>
        <hr>
        <p>
          Derp.
        </p>
      </div>
    </div>
  </div>
</body>
</html>