<div class="container" style="width: 700px; padding-top: 40px">
  <div class="row col-lg-12">
    <div class="well">
      For each contact, select the frequency at which you want to receive an email reminder.
    </div>
    <ul>
      <li ng-repeat="contact in setup.contacts track by $index">
        <div>
          {{ contact.email }}
        </div>
        <div>
          <select ng-model="setup.frequencies"></select>
          <select ng-model="setup.periods"></select>
          <!-- 0 - 9, days, weeks, months -->
        </div>
      </li>
    </ul>
    <div ng-click="setup.saveContacts()" class="btn btn-primary">
      Save
    </div>
  </div>
</div>