<div class="container" style="width: 700px; padding-top: 140px">
  <div class="row col-lg-12">
    <div class="jumbotron">
      <h2>
        Let's have our bases touch. Sexually.
      </h2>
      <hr>
      <p>
        Authenticate your Google Account to schedule keep-in-touch reminders with your professional or personal contacts.
      </p>
    </div>
  </div>
  <div class="row col-lg-12">
    <div class="form-group col-lg-7">
      <input type="text" placeholder="Email address" class="form-control" ng-model="oauth.email" required style="margin-left: -15px">
    </div>
    <div id="submit" class="btn btn-primary col-lg-5" ng-click="oauth.connect()">
      Connect your Google Account
    </div>
  </div>
  <div class="row col-lg-12">
    <div class="alert alert-danger hide" role="alert" id="warning">
      Uh-oh! This doesn't seem to be a valid email address.
    </div>
  </div>
</div>